.wrapper {
    padding: 20px;
    width: 100%;
    background-color: rgb(194, 194, 194);
    box-sizing: border-box;
}
.content {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.line {
    display: flex;
    position: absolute;
    background-color: black;
    height: 4px;
    width: 100%;
}

.point {
    display: flex;
    position: absolute;
    width: 4px;
    height: 12px;
    background-color: #0F172A;
}

.startPoint {
    left: 0%;
}

.endPoint {
    left: 100%;
}